<p>Look at this beautiful yellow color, it reminds me of bananas...</p>
<p>Let the mystery begin</p>

<input onclick='show_random_alert()' type='button' value="Learn how to say 'You have been alerted' in Scandinavian languages!"/>
